/* body {
    background: url(../images/1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} */

.howTo {
    color: white;
}

.game {}

video,
#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover;
    opacity: 0.70;
}

.title {
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

h1 {
    text-align: center;
}

ul {
    list-style-type: none;
}

#win,
#lose {
    font-family: 'Russo One', sans-serif;
    font-size: 30px;
}

.instructions {
    font-family: 'Titan One', cursive;
    border-radius: 10px;
    /* background-color: #dddddd; */
    padding: 5px;
    width: 100%;
    text-align: center;
}

#numToMatch {
    border-radius: 80px;
    /* background-color: white; */
    text-align: center;
    margin-top: 50px;
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

.resultsDigits,
.countDigits {
    font-size: 80px;
    font-family: 'Carter One', cursive;
}

#score-count {
    border-radius: 80px;
    font-size: 30px;
    font-style: bold;
    margin-left: 4px;
    margin-top: 4px;
    width: 100px;
    height: 100px;
    padding: 25px;
    margin-left: auto;
    margin-right: auto;
}

#results {
    border-radius: 80px;
    /* background-color: white; */
    text-align: center;
    margin-top: 4px;
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

#resetButton {
    margin: 20px;
}

#gameOver {
    margin: 20px;
}

.score-title {
    background-color: steelblue;
    margin-top: 4px;
    border-radius: 5px;
    width: 200px;
    text-align: center;
}

.crystal-images {
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
}

.resetButton {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

img {
    width: 150px;
    opacity: 0.8;
    border-radius: 80px;
}

img:hover {
    opacity: 0.5;
}